<h1 class="text-danger">This is a list of all the courses</h1>

    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Our Courses</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!-- popular_program_area_start  -->
    <div class="popular_program_area section__padding program__page">
        <div class="container">
            {{{body}}}
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/img/program/computer operation.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <h4>Computer Operation</h4>
                                    <ul>
                                        <li>Introduction to Computer</li>
                                        <li>Operating System</li>
                                        <li>Paint</li>
                                        <li>Wordpad/Notepad</li>
                                        <li>Speed Typing Skill</li>
                                        <li>Scanning</li>
                                        <li>Printing</li>
                                        <li>Microsoft Word</li>
                                        <li>Internet</li>
                                        <li>Mail Management</li>
                                    </ul>
                                    <ul>
                                        <li><b>2 Months</b></li>
                                        <li><b>#15000</b></li>
                                        <li><b>Diploma in Computer Operation</b></li>
                                    </ul>
                                    <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/img/program/desktop publishing.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <h4>Desktop Publishing</h4>
                                    <ul>
                                        <li>Operating System</li>
                                        <li>Paint</li>
                                        <li>Wordpad/Notepad</li>
                                        <li>Speed Typing Skill</li>
                                        <li>Microsoft Word</li>
                                        <li>Microsoft Excel</li>
                                        <li>Microsoft Powerpoint</li>
                                        <li>Microsoft Office Lens</li>
                                        <li>Scanning</li>
                                        <li>Printing</li>
                                        <li>Internet</li>
                                        <li>Mail Management</li>
                                        <li>Lamination</li>
                                        <li>Binding</li>
                                        <li>CD Ripping/Burning</li>
                                        <li>Corel Draw</li>
                                    </ul>
                                    <ul>
                                        <li><b>4 Months</b></li>
                                        <li><b>#20000</b></li>
                                        <li><b>Diploma in Desktop Publishing</b></li>
                                    </ul>
                                    <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/img/program/accounting packages.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <h4>Advanced Accounting Packages</h4>
                                    <ul>
                                        <li>Introduction to Commercial</li>
                                        <li>Accounting System</li>
                                        <li>Microsoft Excel</li>
                                        <li>Peachtree</li>
                                        <li>Data Entry</li>
                                        <li>Banking System</li>
                                        <li>Booking System</li>
                                        <li>Sales Analysis</li>
                                        <li>Data Base Management</li>
                                        <li>Commercial Accounting System</li>
                                    </ul>
                                    <ul>
                                        <li><b>3 Months</b></li>
                                        <li><b>#35000</b></li>
                                        <li><b>Diploma in Advanced Accounting Packages</b></li>
                                    </ul>
                                    <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/img/program/computer engineering.jpg" alt="">
                                </div>
                                <div class="program__content">
                                    <h4>Computer Engineering(Laptop and Desktop)</h4>
                                    <ul>
                                        <li>Introduction to Computer</li>
                                        <li>Basics of Computer</li>
                                        <li>Operating System</li>
                                        <li>Microsoft Word</li>
                                        <li>Ms Dos</li>
                                        <li>System Architectures</li>
                                        <li>Assembling and Dissembling</li>
                                        <li>Cloning and Configuration</li>
                                        <li>Trouble Shooting</li>
                                        <li>Software Installation</li>
                                        <li>Installation and Formatting</li>
                                        <li>LAN Essentials and formatting</li>
                                        <li>Accessories</li>
                                    </ul>
                                    <ul>
                                        <li><b>4 Months</b></li>
                                        <li><b>#35000</b></li>
                                        <li><b>Diploma in Computer Engineering</b></li>
                                    </ul>
                                    <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/img/program/photo editing.jpg" alt="">
                                </div>
                                <div class="program__content">
                                   <h4>Advanced Photo Editing</h4>
                                    <ul>
                                        <li>Introduction to Computer</li>
                                        <li>Operating System</li>
                                        <li>Paint</li>
                                        <li>Instant Artist</li>
                                        <li>Photo Shine</li>
                                        <li>Photoshop</li>
                                        <li>Noiseware Professional</li>
                                        <li>Portraiture</li>
                                        <li>Realistic Cartoon</li>
                                        <li>Vector Photoshop Effect</li>
                                        <li>Comic Illustration</li>
                                    </ul>
                                    <ul>
                                        <li><b>4 Months</b></li>
                                        <li><b>#2000</b></li>
                                        <li><b>Diploma in Advanced Photo Editing</b></li>
                                    </ul>
                                    <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="/img/program/3.png" alt="">
                                </div>
                                <div class="program__content">
                                    <h4>Advanced Graphics Design</h4>
                                    <ul>
                                        <li>Introduction to Computer</li>
                                        <li>Operating System</li>
                                        <li>Paint</li>
                                        <li>Instant Artist</li>
                                        <li>Lamination</li>
                                        <li>Scanning</li>
                                        <li>Printing</li>
                                        
                                        <li>Internet</li>
                                        <li>Corel Photo Paint</li>
                                        <li>Corel Draw</li>
                                        <li>Card Designs</li>
                                        <li>Invitation Designs</li>
                                        <li>Banner Designs</li>
                                        <li>The Press</li>
                                    </ul>
                                    <ul>
                                        <li><b>4 Months</b></li>
                                        <li><b>#20000</b></li>
                                        <li><b>Diploma in Advanced Graphics Design</b></li>
                                    </ul>
                                    <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/img/program/digital marketing.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <h4>Digital Marketing</h4>
                                    <ul>
                                        <li>Introduction to Digital Marketing</li>
                                        <li>Basics of Digital Marketing</li>
                                        <li>Advanced Digital Marketing/li>
                                        <li>Networking</li>
                                        <li>Prospecting</li>
                                        <li>Social Media Marketing</li>
                                        <li>Facebook</li>
                                        <li>Instagram</li>
                                        <li>Youtube</li>
                                        <li>Website Digital Marketing</li>
                                        <li>Audience and Targeting</li>
                                        <li>Generating Traffic</li>
                                    </ul>
                                    <ul>
                                        <li><b>2 Months</b></li>
                                        <li><b>#30000</b></li>
                                        <li><b>Diploma in Digital Marketing</b></li>
                                    </ul>
                                        <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/img/program/3.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <h4>Web Design and Development</h4>
                                    <ul>
                                        <li>Web Design Introduction</li>
                                        <li>Notepad</li>
                                        <li>Notepad++</li>
                                        <li>Visual Studio Code</li>
                                        <li>Introduction to HTML and CSS</li>
                                        <li>Name Choosing(Domain)</li>
                                        <li>Hosting</li>
                                        <li>Cpanel</li>
                                        <li>Wordpress</li>
                                        <li>Themes and Plugins</li>
                                        <li>WP Bakery</li>
                                        <li>ELementor</li>
                                    </ul>
                                    <ul>
                                        <li><b>4 Months</b></li>
                                        <li><b>#60000</b></li>
                                        <li><b>Diploma in Web Desing and Development</b></li>
                                    </ul>
                                    <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="/img/program/3.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <h4>CCTV and Networking</h4>
                                    <ul>
                                        <li>Introduction</li>
                                        <li>Camera Combinations</li>
                                        <li>Calculating Storage</li>
                                        <li>Review/Basic Video Signal</li>
                                        <li>Setting up Switches on Camera</li>
                                        <li>Configuring Day and Night Camera</li>
                                        <li>Programming of Done Cameras</li>
                                        <li>Wiring Fully Functional Cameras</li>
                                        <li>Installing Camera Over Long Runs</li>
                                        <li>Installing Multiple Cameras into DVRs</li>
                                        <li>Best Practise Set Up Display Screen</li>
                                        <li>Programming and Installing of Video</li>
                                        <li>Analytical equipment</li>
                                        <li>Health and Safety</li>
                                    </ul>
                                    <ul>
                                        <li><b>4 Months</b></li>
                                        <li><b>#50000</b></li>
                                        <li><b>Diploma in CCTV and Networking</b></li>
                                    </ul>
                                    <a href="/login.html" class="boxed-btn5">Apply NOw</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- popular_program_area_end -->
