	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3>Image Gallery</h3>
				<div class="row gallery-item">
					<div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0010.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0010.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0020.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0020.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0021.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0021.jpg);"></div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0024.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0024.jpg);"></div>
						</a>
					</div>
					<div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0028.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0028.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0043.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0043.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0045.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0045.jpg);"></div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0047.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0047.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0048.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0048.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0049.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0049.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0050.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0050.jpg);"></div>
						</a>
					</div><div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0053.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0053.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0054.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0054.jpg);"></div>
						</a>
					</div><div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0055.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0055.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0060.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0060.jpg);"></div>
						</a>
					</div><div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0061.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0061.jpg);"></div>
						</a>
					</div><div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0062.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0062.jpg);"></div>
						</a>
					</div><div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0063.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0063.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0066.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0066.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0068.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0068.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0069.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0069.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0070.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0070.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0071.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0071.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0072.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0072.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0073.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0073.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0074.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0074.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0081.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0081.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0076.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0076.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0077.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0077.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0078.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0078.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0079.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0079.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0080.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0080.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0082.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0082.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0083.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0083.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0084.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0084.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0085.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0085.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0086.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0086.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0087.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0087.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0088.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0088.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200317-WA0002.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200317-WA0002.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0090.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0090.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0091.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0091.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0092.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0092.jpg);"></div>
						</a>
                    </div>
                    
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0093.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0093.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0094.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0094.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0095.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0095.jpg);"></div>
						</a>
                    </div>
                    
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0096.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0096.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0097.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0097.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0098.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0098.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200314-WA0099.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0099.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0100.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0100.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0101.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0101.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-4">
						<a href="/img/Gallery/IMG-20200314-WA0103.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200314-WA0103.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200317-WA0002.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200317-WA0002.jpg);"></div>
						</a>
                    </div>
                    <div class="col-md-6">
						<a href="/img/Gallery/IMG-20200317-WA0003.jpg" class="/img-pop-up">
							<div class="single-gallery-image" style="background: url(img/Gallery/IMG-20200317-WA0003.jpg);"></div>
						</a>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Align Area -->